@model IEnumerable<FinalAssignment.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointments</h2>

<p>
    @if (User.IsInRole("Reception") || User.IsInRole("Admin"))
    {
	    <input type="button" onclick="PressButton()" value="Send Today's Appointments" />
	    @Html.ActionLink("Create New", "Create")
    }
</p>

<table id="appointments" class="table">
	<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)

            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Duration)

	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.AppointmentType)

	        </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)

            </th>
	        <th></th>
        </tr>
	</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.DropDownList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.DropDownList)

                </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.DateAndTime)
		            @Html.DisplayFor(modelItem => item.DateAndTime.TimeOfDay)

	            </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.Duration)

	            </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.AppointmentType)

	            </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.Location.DropDownList)

	            </td>

	            <td>
                   @if (User.IsInRole("Admin") || User.IsInRole("Reception"))
                   {
	                   @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID })
                   }
                   |
                   @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
	               @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
               </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

	@Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
	@Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
	<script>
		$(document).ready(function () {
            $('#appointments').DataTable( {
	            "columnDefs": [
		            { "type": "date", "targets": 2 }
	            ]
            } );
        });
        function PressButton() {
	        $.get("/Appointment/OnButton",
		        function(data) {
			        $("p".html(data));
		        });
        }
	</script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />