@model IEnumerable<FinalAssignment.Models.Event>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="calendar"></div>
<div>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			@*<th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>*@
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr id="eventsTable">
				<td id="title">
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td id="start">
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				@*<td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>*@
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
					@Html.ActionLink("Details", "Details", new { id = item.EventID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.EventID })
				</td>
			</tr>
		}

	</table>
</div>

@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var events = [];
			$(".events").each(function () {
				var title = $(".title", this).text().trim();
				var start = $(".start", this).text().trim();
				var event = {
					"title": title,
					"start": start
				};
				events.push(event);
			});

			@*var allEvents = document.getElementById("eventsTable");

			var trElements = allEvents.getElementsByTagName("tr");

			for(let i = 0; i < trElements.length; i++) {
				var tdElement = trElements[i].getElementsByTagName("td");
				var eventObject = {
					title: tdElement[0].text().trim(),
					start: tdElement[1].text().trim()
				};
				eventArray.push(eventObject);
			}*@

			@*for (let i = 0; i < allEvents.length; i++) {
				var eventObject = {
					"title": "Test",
                    "start": "2022-20-10"
			};
				eventArray.push(eventObject);
			}*@

			@*var events = [];
			$(".events").each(function () {
				var title = $(".title", this).text().trim();
				var start = $(".start", this).text().trim();
				var event = {
					"title": title,
					"start": start
				};
				events.push(event);
			});*@
			@*var eventObject = { title: "Test", start: "2022-10-10" };
			eventArray.push(eventObject);*@

			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				locale: 'au',
                headerToolbar: {
                    left: 'prev today next',
                    center: 'title',
                    right: 'dayGridMonth dayGridWeek'
                },
				events: events
			});
			calendar.render();
		});
	</script>
}
